$complete: gray
$late: red

body
  font-family: helvetica
table
  border-collapse: collapse
td
  border-top: 1px solid gray
  border-bottom: 1px solid gray
tr
  height: 25px
#content
  margin: auto
  margin-top: 60px
  width: 853px
#menu_stuff
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 10
#menu_outer
  display: block
  height: 40px
  position: relative
  text-align: center
  width: 100%
#menu_bg
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5)
  background: none repeat scroll 0 0 #cccccc
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
#menu
  padding: 8px
  display: block
  font-weight: bold
#flash
  padding-top: 4px
  padding-bottom: 4px
  margin: auto
  width: 300px
  font-weight: normal
  text-align: center
.complete
  font-style: italic
  color: $complete
.late
  color: $late
.tn
  min-width: 60px
  max-width: 60px
  text-align: center
.dueDate
  text-align: center
  min-width: 95px
  max-width: 95px
.requestType
  text-align: center
  min-width: 50px
  max-width: 50px
.requestor
  min-width: 436px
.location
  text-align: center
  min-width: 100px
.status
  text-align: center
  min-width: 100px
.statusUpdate
  text-align: center
  min-width: 100px
.locationUpdate
  text-align: center
  min-width: 100px
