$complete: gray
$late: red

table
  border-collapse: collapse
td
  border-top: 1px solid gray
  border-bottom: 1px solid gray
tr
  height: 25px
#content
  margin: auto
  width: 853px
  font-family: helvetica
#menu_float
  position: absolute
  top: 0
  left: 0
  font-family: helvetica
  z-index: 10
  padding: 5px
  background: #cccccc
  text-align: center
  font-weight: bold
  width: 99%
#menu
  padding: 3px
#flash
  padding-top: 4px
  padding-bottom: 2px
  margin: auto
  width: 300px
  font-weight: normal
  text-align: center
.complete
  font-style: italic
  color: $complete
.late
  color: $late
.tn
  min-width: 60px
  max-width: 60px
  text-align: center
.dueDate
  text-align: center
  min-width: 95px
  max-width: 95px
.requestType
  text-align: center
  min-width: 50px
  max-width: 50px
.requestor
  min-width: 436px
.location
  text-align: center
  min-width: 100px
.status
  text-align: center
  min-width: 100px
.statusUpdate
  text-align: center
  min-width: 100px
.locationUpdate
  text-align: center
  min-width: 100px
